body {
    font-family: Arial, sans-serif;
    background-color: #97d786;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #c29d9d;
    padding: 30px;
    border-radius: 50px;
    box-shadow: 0 0 15px rgba(250, 200, 10, 0.7);
}

.form-box {
    text-align: center;
    max-width: 500px;
    margin-right: 20px;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: black;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #1f1919;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #3897f0;
    color: white;
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
}
a{
    color:white;
    text-decoration: none;
}

button:hover {
    background-color: #3578e5;
}

.success-message {
    margin-top: 20px;
    color: green;
    font-weight: bold;
    display: none;
}
